section{
    display: flex;
    height: 80vh;
    width: 80%;


    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section > div{
    height: 30%;
    width: 30%;
    border: 1px solid black;
}

.ubi{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}